.navbar-toggler {
    font-size: 2rem;
    color: $color_light_black;
    padding: 1.5rem 0.75rem 0.2rem;
}

#navbarGigeo {
    .nav-link {
        color: $color_light_black;
        text-align: right;
        font-size: 1.8rem;
        padding: 0.8rem 0.75rem;
        @include respond-to-down('lg'){
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
        }
    }
}